body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Segoe UI', 'Noto Sans', sans-serif;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.square {
  border: 1px solid #ffffff;
  width: 54.25px;
  height: 54.25px;
  max-width: 100%;
  max-height: 100%;
  flex: 1 1 auto;
}

.canvas {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 auto;
  width: 900px;
  height: 900px;
  align-items: stretch;
}

.square:hover {
  background-color: #ff0000;
}

button {
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
  color: #000000;
  padding: 4px 12px;
}

p {
  font-size: 12px;
  padding: 0;
  margin: 4px;
}